@model TestAppLightpoint.Web.Models.ProductListViewModel


<h1>Список товаров</h1>

<div>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                   <h3>Название</h3>
                </th>
                <th>
                   <h3>Описание</h3>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListProduct)
            {
               
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Products" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">Посмотреть</a> |
                        <a asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Create" asp-controller="Products" asp-route-storeId="@Model.Store.Id">Добавить продукт</a> |
    <a asp-action="Index">Назад</a>
</div>
